@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using TerziyskiClima.Data.Models
@model List<User>

<div class="page-container">
    <h1>Преглед на потребители</h1>
    <div class="card-grid">
        @foreach (var user in Model)
        {
            <div class="card-container">
                <h1>@user.Name @user.Surname</h1>
                <p>Email: @user.Email</p>
                <form method="get" asp-action="Review" asp-controller="User">
                    <input type="hidden" value="@user.Id" name="userId" />
                    <button type="submit">Прегледай</button>
                </form>
            </div>
        }
    </div>
</div>
