@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="page-container">
    <header class="main-banner-container">
        <img src="~/resources/main-banner.jpg" />
        <h2>За TerziyskiClima</h2>
    </header>
    <div class="for-us-container">
        <h2>За нас</h2>
        <p>Фирма TerziyskiClima е основана в края на 2021г. Дружеството се занимава с продажба на климатична и хладилна техника, като главното, което продава фирмата е климатици. Понеже днешно време почти всичко става по интернет, на нас ни беше нужно да се впишем в тази среда. Затова вече имаме и улеснено трислойно уеб приложение, с което нашите клиенти максимално лесно могат да се оправят и да направят поръчка. Радваме се да, Ви помагаме с това да закупувате качествена техника, и Ви благодарим, че ни се доверявате.</p>
        <h2>Контакти</h2>
        <p>телефон <strong>0890599260</strong> </p>
        <p>факс <strong>034/991 854</strong></p>
        <h3>Социални мрежи</h3>
        <div>
            <p>Фирмен facebook</p>
            <a href="https://www.facebook.com/mkgclimagroup">
                <img src="~/resources/facebook.png" />
            </a>
        </div> 
        <div>
            <p>Личен facebook</p>
            <a href="https://www.facebook.com/georgi.terziyski.77/">
                <img src="~/resources/facebook.png" />
            </a>
        </div>
        <div>
            <p>Личен instagram</p>
            <a href="https://www.instagram.com/g.terziyskiii/?hl=bg">
                <img src="~/resources/instagram.png" />
            </a>
        </div>
    </div>
</div>