@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center color-scheme">
    <p class="display-4">Welcome, @if (User.Identity.IsAuthenticated) { <p>@User.Claims.ToList()[1].Value</p> }</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
