@{
    ViewData["Title"] = "Home Page";
}

@using TerziyskiClima.Data.Models
@model List<Product>

<div class="page-container main-page">
    <header class="main-banner-container">
        <img src="~/resources/main-banner.jpg" />
        <h2>Terziyski Clima</h2>
    </header>
    <h2>Специални оферти</h2>
    <div class="featured-products-container">
        @for (int i = 0; i < Math.Clamp(Model.Count, 0, 3); i++) 
        {
            <a  asp-area="" asp-controller="Product" asp-action="Index">
                <div class="featured-products-card">
                    <img src=@String.Format("resources/ac{0}.jpg", i + 1) />
                    <div>
                        <h2>
                            @Model[i].Name
                        </h2>
                        <div>
                            <p >Цена</p>
                            <p class="font-weight-bold">@Model[i].Price лв.</p>
                            <p>Описание</p>
                            <p class="font-weight-bold">@Model[i].Description</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>