@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using TerziyskiClima.Data.Models
@model List<Purchase>

<div class="page-container">
    <h1>Преглед на поръчки</h1>
    <div class="card-grid">
        @foreach (var purchase in Model)
        {
        <div class="card-container">
            <img src=@String.Format("resources/ac{0}.jpg", new Random().Next(1, 5) ) />

            <h1>@purchase.Product.Name</h1>
            <p>@purchase.Quantity бр.</p>
            <p>@(purchase.Quantity*purchase.Product.Price) лв.</p>
            <form method="post" asp-action="Delete" asp-controller="Purchase">
                <input type="hidden" value="@purchase.Id" name="id" />
                <button class="delete-btn" type="submit">Премахни поръчка</button>
            </form>
        </div>
        }
    </div>
</div>
